.container-fuild
  .row.row-inner-s
    = form_tag(orders_path, method: :post) do |f|
      .cart
        table.cart-table
          thead
            tr
              th 路線
              th 出發時間
              th 張數
              / th 座號
              th
          tbody
            - @cart_items.each do |cart_item|
              tr
                td = cart_item.route.short_name
                td = cart_item.schedule.departure_time
                / td = cart_item.seat.seat_no
                / td = cart_item.quantity
                td
                  input type="number" name="cart_item[#{cart_item.id}]" min="1" max="3" value="#{cart_item.quantity}"
                td = link_to '移除', cart_item_path(cart_item), method: :delete

      = link_to '查看更多路線', routes_path, class: 'btn btn--large'
      - unless current_user.cart_items_count.zero?
        = submit_tag '確認訂位', class: 'btn btn--large teal darken-1', style: "float: right;"
