h1,h2,h3,h4,h5,h6{
	color: $darker-gray;
}
p{
	color: $dark-gray;
}

.order-form-block{
	background-color: #fff;
	padding: 24px;
	margin: 24px auto;
}
.order-form-block{
	background-color: #fff;
	padding: 24px;
	margin: 24px auto;
	box-shadow: 1px 1px 3px rgba(0,0,0,.3);
	border: 1px solid #eee;
	border-radius: 2px;
    margin-bottom: 100px !important;
    .select-wrapper {
	    position: relative;
	    margin: 8px 24px;
	}
	.agree-block{
		text-align: center;
		padding: 0 0 32px 0;
	}
}

.route-show-field{
	.description > i {
	    font-size: 32px !important;
	    margin-right: 8px;
	}

	.shopping-actions{
		max-width: 300px;
		margin: 32px 0;

		> select{
			border-color: $dark-gray;
		}
	}

	.schedule-label{
		display: block;
		margin-bottom: 16px;
	}

}

.primary-color-bg{
	background-color: $primary-color;
}
.row{
	margin-bottom: 0;
}
.route-show-field{
	padding: 24px;
}
.container , .container-fluid{
	min-height: 500px;
}
.user-guide{
	padding: 24px 0;
	.user-guide-title{
		color: #fff;
		text-align: center;
	}

	.user-guide-step{
		padding: 24px 8px;

		> .guide-content{
			> h5{
				color: #fff;
				text-align: center;
			}
			> p {
				color: #fff;
				padding: 0 12px;
			}
		}
	}
}
.page-sorry-message{
	text-align: center;
	background-color: #fff;
	margin: 32px auto;
	box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	border-radius: 2px;
    padding: 40px 16px;
    max-width: 500px;

	> i{
		color: $dark-gray;
		font-size: 40px !important;
	}
}
.routes-field{
	position: relative;
	padding: 32px 12px 80px 12px;
	overflow: hidden;
	min-height: 600px;

	> .routes-field-title{
		color: #fff;
		position: relative;
		text-shadow: 1px 1px 2px rgba(0,0,0,.4);
		margin-left: 16px;

		> i{
			color: #fff;
			font-size: 40px !important;
		}
	}
	> .routes-field-description{
		color: #fff;
		text-shadow: 1px 1px 2px rgba(0,0,0,.4);
		position: relative;
		margin-left: 16px;
	}

	> .line{
	    height: 2px;
	    background-color: #eee;
	    position: relative;
	    border-radius: 1px;
	    margin: 8px 0 16px 0;
	    margin-left: 16px;
	    max-width: 500px;
	}

	> .routes-field-bg{
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: image-url('bus-bg.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		left: 0;
		top: 0;
	}

	> .routes-field-skew-bg{
		position: absolute;
		width: 2000px;
		height: 100%;
		background-color: rgba(30, 57, 115, 0.9);
		left: -1200px;
		top: 0;
		transform: skew(-20deg, 0);
		-webkit-transform: skew(-20deg, 0);
		-o-transform: skew(-20deg, 0);
		-ms-transform: skew(-20deg, 0);
		-moz-transform: skew(-20deg, 0);
	}

	> .route-list-item{
		display: inline-block;
		position: relative;
		list-style-type: none;
		transition: all .5s;
		-webkit-transition: all .5s;
		-o-transition: all .5s;
		-ms-transition: all .5s;
		-moz-transition: all .5s;

		&:hover{
			padding-left: 24px;
		}

		> a{
			> h5{
				color: #fff;

				> i{
					color: #fff;
				}
			}
		}
	}
}

.apply-add-field{
	padding: 16px;
	position: relative;
	> p{
		color: #fff;
	}
}

*[type="submit"]{
	// margin-top: 32px;
}

.content-strip{
	text-align: center;
	background-color: #444;
	position: relative;

	> .content-strip-inner{
		position: relative;

		.strip-title{
			text-shadow: 1px 1px 3px rgba(0,0,0,.3);
		}

		.strip-description{
			margin: 8px 0;
			text-shadow: 1px 1px 3px rgba(0,0,0,.3);
		}
	}

	&.image-strip{
		background-image: image-url('beach.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-color: transparent;

		> .content-strip-cover{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0,.3);
		}
	}
}

.routes-container{

	padding: 12px 16px;
	margin: 24px 0;

	&.bg-white{
		background-color: #fff;
		box-shadow: 1px 1px 2px rgba(0,0,0,.2);
		li{
			border-bottom: 1px solid #eee;
			padding: 8px;
			> a{
				display: block;
			}

			&:hover{
				background-color: #F0F0F0;
			}

			i{
				color: $primary-color;
			}
		}
	}


	> a.btn{
	    margin: 0 auto;
	    display: block;
	    max-width: 250px;
	}
}

.routes-list{
	margin-top: 40px;
	margin-bottom: 120px;

	> li{
		> .collapsible-header{
			height: auto;
		}
	}

	.collapsible-body{
		> .collection{
			margin: 0;
			border: 0;
		}
	}
}

.route-display-name, .schedule-departure-time{
	margin: 0;
	padding: 24px 16px 8px 16px;
	color: #fff;

	> a{
		color: #fff;
		display: inline;
	}

	> i{
		font-size: 30px !important;
		line-height: 1;
		margin-right: 8px;
		color: #fff;
	}
}

.route-list-header {
  padding: 16px;
  color: $dark-gray;
  margin: 0;

  > i{
    font-size: 30px !important;
    line-height: 1;
    margin-right: 8px;
  }
}

.route-description{
	margin: 0;
	padding: 8px 16px 40px 16px;
    font-size: 14px;
    line-height: 1.6;
    color: #fff;
}

.route-price{
	font-size: 1.4em;
	padding: 8px 8px 8px 8px;
	margin: 8px 16px 8px 16px;
	border: 2px solid $primary-color;
	color: $primary-color;
	border-radius: 2px;
	display: inline-block;


  a {
    color: $primary-color;
  }

}

.route-item{
	//background-color: $primary-color;
	box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	padding-bottom: 32px;
	position: relative;
	//background-image: image-url('beach.jpg');
	margin: 0 0 24px 0;
	overflow: hidden;



	> .route-item-bg{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		//background-color: rgba(0,0,0,.0);
		background-image: image-url('bg-sky.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		-webkit-filter: brightness(0.85) contrast(1.2);
		-o-filter: brightness(0.85) contrast(1.2);
		-ms-filter: brightness(0.85) contrast(1.2);
		-moz-filter: brightness(0.85) contrast(1.2);

	}

	> .route-item-inner{
		position: relative;
	}

	.route-price{
		color: #fff;
		border-color: #fff;

		> a{
			color: #fff;
		}
	}

	.btn{
		//background-color: #5E5E5F;
	}
}

.col.s6.m4{
	&:nth-child(2n){
		.route-item-bg{
			background-image: image-url('school/nuuu.jpg');
		}
	}
	&:nth-child(3n){
		.route-item-bg{
			background-image: image-url('school/ntu.jpg');
		}
	}
	&:nth-child(4n){
		.route-item-bg{
			background-image: image-url('school/hehe.jpg');
		}
	}
	&:nth-child(5n){
		.route-item-bg{
			background-image: image-url('school/57.jpeg');
		}
	}


}

.view-schedules-btn{
	font-size: 20px;
	margin: 8px 16px;

	> i{
		float: none;
		display: inline;
		font-size: 20px !important;
	}
}

.collapsible.popout > li{
	box-shadow: none;
	border: 1px solid #eee;
}

.schedule{
	padding: 24px 16px;
	background-color: #fff;
	border: 1px solid #eee;
	margin: 40px 0;

	.route-price{
		margin: 8px 16px 24px 16px;
	}

	form{
		padding: 24px;
	}
}

.cart-table{
	background-color: #fff;
	margin: 40px 0;
	border-radius: 2px;
	overflow: hidden;
	thead{
		background-color: $primary-color;
		th{
			color: #fff;
		}
	}
}

.btn {
  line-height: 1;
}

.order-form {
  padding-left: 10px;
  padding-right: 10px;
}

// overwrite side-nav
.side-nav{

  li{
    // border-top: solid 1px #fff;
    &:nth-child(1){
      border-top: 0px;
    }
    a{
      //color: black;
      &:hover{
        // opacity: 0.9;
      }
    }
  }
}

.order-confirm{
    background-color: #fff;
    padding: 24px;
    margin: 40px auto;

	.oder-confirm-info {
	    padding: 12px;
	    margin: 0 0 40px 0;
	    font-size: 18px;
	    border: 1px solid #eee;
	}
}

.user-agreement {

  .user-agreement-inner {
    height: 200px;
    overflow: auto;
    width: 100%;
    margin: 140px 0 24px 0;
    border: 1px solid #eee;
    padding: 16px;
  }
}

.show-route {
  padding: 3%;
}
